<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DebugDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DB6E8AA1F34080F0000A62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB6E8C31F34080F0000A62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB6E8CE1F3408100000A62D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
